<div class="search-cont">
    <form action="/" method="GET">
    <input type="text" name="url" placeholder="Enter URL">
    <button class="btn btn-primary submit">Search</button>
    </form>
</div>
{{#if results}}
<div class="results">
    Results go here
</div>
{{/if}}